# ВСТАВЬТЕ СВОЙ ТОКЕН БОТА:
# Получить у @BotFather
TELEGRAM_BOT_TOKEN=8377114865:AAGbha53KJdSVHtF0D7-bN4pL4kiya7zJ9I

# ВСТАВЬТЕ ID чата/канала для уведомлений:
# Личный chat_id или chat_id группы/канала
TELEGRAM_CHAT_ID=1181155620

# Необязательно
PORT=3000
